<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Gestión de Afiliados</h1>
        <div class="d-flex">
          <a type="button" class="btn btn-success" style="margin-left: 10px;" href="/comercioAfiliado">Gestión de Administrador del Comercio Afiliado</a>        </div>
    </div>
  </nav>
  <br>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="nuevoAfiliado()">Nuevo</button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Cédula</th>
          <th scope="col">Tipo Comercio</th>
          <th scope="col">Nombre del Comercio</th>
          <th scope="col">Número de Sinpe</th>
          <th scope="col">Administrador del comercio</th>
          <th scope="col">Correo</th>
          <th scope="col">Provincia</th>
          <th scope="col">Cantón</th>
          <th scope="col">Distrito</th>
          <th scope="col">Usuario del Administrador</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let afiliado of afiliados;let i= index" (click)="editarAfiliado(afiliado.cedula)">
          <th scope="row">{{i+1}}</th>
          <td>{{afiliado.cedula}}</td>
          <td>{{afiliado.tipo_comercio}}</td>
          <td>{{afiliado.nombre_comercio}}</td>
          <td>{{afiliado.num_sinpe}}</td>
          <td>{{afiliado.administrador_comercio}}</td>
          <td>{{afiliado.correo}}</td>
          <td>{{afiliado.provincia}}</td>
          <td>{{afiliado.canton}}</td>
          <td>{{afiliado.distrito}}</td>
          <td>{{afiliado.a_usuario}}</td>
          <td>{{afiliado.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
