#
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/0732ffd3-936a-45d0-a1f6-2843f6d8e3fb.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/0ae50138-35bb-4886-8c1c-35d76eac39dd.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/3798c206-a456-4288-9ad7-d44e58fb4df2.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/b8ece30a-84ee-4427-9075-d6d4c0161e62.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/dd1938fc-d705-4a16-a72e-7b1a174cf15b.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/ef347964-211a-4ac4-8f3d-adb324ce8f57.vsidx
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.g.props
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.g.props
ApiPostgreSQL/UbyTecAPI/.vs/ProjectEvaluation/ubytecapi.projects.v5.2
ApiPostgreSQL/UbyTecAPI/.vs/ProjectEvaluation/ubytecapi.metadata.v5.2
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/DesignTimeBuild/.dtbcache.v2
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/06c627ff-6fd0-4e01-87b2-56f12ea391b7.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/5774d9d4-b03a-4b59-9132-0c525c84eaf4.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/v17/.futdcache.v2
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/v17/.suo
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/bin/Debug/net7.0/UbyTecAPI.dll
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/04b7636b-c181-478e-8b5c-605ac6be2d81.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/4891bc3d-9c3e-4dff-b3e0-5905ca8ee7ac.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/v17/.suo
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/bin/Debug/net7.0/UbyTecAPI.dll
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/bin/Debug/net7.0/UbyTecAPI.pdb
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/refint/UbyTecAPI.dll
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/ref/UbyTecAPI.dll
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.assets.cache
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.csproj.CoreCompileInputs.cache
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.csproj.FileListAbsolute.txt
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.dll
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.GeneratedMSBuildEditorConfig.editorconfig
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.genruntimeconfig.cache
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/Debug/net7.0/UbyTecAPI.pdb
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/project.assets.json
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/project.nuget.cache
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.dgspec.json
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.g.props
