#
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/0732ffd3-936a-45d0-a1f6-2843f6d8e3fb.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/0ae50138-35bb-4886-8c1c-35d76eac39dd.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/3798c206-a456-4288-9ad7-d44e58fb4df2.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/b8ece30a-84ee-4427-9075-d6d4c0161e62.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/dd1938fc-d705-4a16-a72e-7b1a174cf15b.vsidx
ApiPostgreSQL/UbyTecAPI/.vs/UbyTecAPI/FileContentIndex/ef347964-211a-4ac4-8f3d-adb324ce8f57.vsidx
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.g.props
ApiPostgreSQL/UbyTecAPI/UbyTecAPI/obj/UbyTecAPI.csproj.nuget.g.props
