<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feedback.component.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Gestión de Productos</h1>
        <div class="d-flex">

        </div>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Feedback</th>
          <th scope="col">F_Afil</th>
          <th scope="col">F_Delivery</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fed of feedback;let i= index">
          <th scope="row">{{i+1}}</th>
          <td>{{fed.Name}}</td>
          <td>{{fed.F_Purchase}}</td>
          <td>{{fed.F_Afil}}</td>
          <td>{{fed.F_Delivery}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>