<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/48fc3e2d-12d8-4220-a54f-277e19bd41ea/resourcegroups/MongoDBAPI20221115235209ResourceGroup/providers/Microsoft.Web/sites/Mongo03</ResourceId>
    <ResourceGroup>MongoDBAPI20221115235209ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/48fc3e2d-12d8-4220-a54f-277e19bd41ea/resourceGroups/MongoDBAPI20221115235209ResourceGroup/providers/Microsoft.ApiManagement/service/Mongo03api/apis/Mongo03</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mongo03.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>77e6cdbe-cded-4ddb-a862-5965f625a81a</ProjectGuid>
    <MSDeployServiceURL>mongo03.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Mongo03</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Mongo03</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>