<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Gestión de Productos</h1>
        <!-- <div class="d-flex">
          <button type="button" (click)="crearAdministrador()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Nuevo</button>
        </div> -->
    </div>
  </nav>
  <br><br>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="nuevoProducto()">Nuevo</button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">co_cedula</th>
          <th scope="col">Categoría</th>
          <th scope="col">Precio</th>
          <th scope="col">Fotos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos;let i= index" (click)="editarProducto(producto.nombre)">
          <th scope="row">{{i+1}}</th>
          <td>{{producto.nombre}}</td>
          <td>{{producto.co_cedula}}</td>
          <td>{{producto.categoria}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.foto}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>