<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Menu Vista Administrador</title>

    <!-- Custom styles for this template -->
    <link href="menu-vista-admin.component.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand mx-3">Administrador</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container my-3">
          <h1 class="display-3">Menú Vista Administrador</h1>
          <!-- <p>Menú DetailTEC, seleccionar alguna de las opciones para interactuar con el menu y lo va a redirigir a su destino! </p> -->
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4 py-5">
            <h2>Gestión de Administradores</h2>
            <!-- <p>Para hacer alguna gestion de Trabajadores en DetailTEC, por favor presionar el siguiente botón! </p> -->
            <p><a class="btn btn-secondary" href="/admins" role="button">Gestionar &raquo;</a></p>
          </div>
          <div class="col-md-4 py-5">
            <h2>Gestión de Afiliados</h2>
            <!-- <p>Si quiere gestionar la información de los proveedores, presiona este botón! </p> -->
            <p><a class="btn btn-secondary" href="/afiliados" role="button">Gestionar &raquo;</a></p>
          </div>
          <div class="col-md-4 py-5">
            <h2>Gestión de Repartidores</h2>
            <!-- <p>Aquí podrás gestionar las sucursales!</p> -->
            <p><a class="btn btn-secondary" href="/repartidores" role="button">Gestionar &raquo;</a></p>
          </div>
          <div class="col-md-4 py-5">
            <h2>Administración de afiliaciones</h2>
            <!-- <p>Aquí podrás gestionar las sucursales!</p> -->
            <p><a class="btn btn-secondary" href="/adminAfiliaciones" role="button">Administrar &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->
    </main>
    <footer class="container cont">
      <p>&copy; UbyTEC Vista Administrador</p>
    </footer>
  </body>
</html>

