<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Gestión de Repartidores</h1>
        <!-- <div class="d-flex">
          <button type="button" (click)="crearAdministrador()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Nuevo</button>
        </div> -->
    </div>
  </nav>
  <br><br>
  <div class="container">
    <button type="button" class="btn btn-primary" (click)="nuevoRepartidor()">Nuevo</button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Usuario</th>
          <th scope="col">Correo</th>
          <th scope="col">Password</th>
          <th scope="col">Nombre</th>
          <th scope="col">Provincia</th>
          <th scope="col">Cantón</th>
          <th scope="col">Distrito</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repartidor of repartidores;let i= index" (click)="editarRepartidor(repartidor.usuario)">
          <th scope="row">{{i+1}}</th>
          <td>{{repartidor.usuario}}</td>
          <td>{{repartidor.correo}}</td>
          <td>{{repartidor.password}}</td>
          <td>{{repartidor.nombre}}</td>
          <td>{{repartidor.provincia}}</td>
          <td>{{repartidor.canton}}</td>
          <td>{{repartidor.distrito}}</td>
          <td>{{repartidor.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
